.App {
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

.col{
  padding: 0  !important;
}

.info {
  padding: 10px 15px;
}

.nav{
  display: flex;
  background-color: #3dc4fc;
  justify-content: center;
  height: 50px;
  align-items: center;
  width: 100%;
  /* margin: 0; */
  /* font-size: 100px; */
}

.borderBotton{
  border-bottom: 1px solid gray;
}

.search {
  display: flex;
  justify-content: center;
  width: 100%;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons:hover{
  color: lightgoldenrodyellow
}

.container-fluid{
  /* padding: 0; */
}

.align{
  display: flex;
  justify-content: start;
}

@media only screen and (max-width: 400px) {
  .align {
    justify-content: center;
  }
  .align-text{
    text-align: center;
  }
}